.login{
    background-image: url(../../assets/img/masala2.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

.login-img{
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.3);
}